/* -------Shared Styles--------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background: #ffffff; */
  box-sizing: border-box;
}
.section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.section-desc {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.common-color {
  color: #ff5400;
}
/* -------Header styles-------------------------------- */
header {
  width: 85%;
  max-width: 74rem;
  margin: 0 auto;
}
nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav-right-container {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 2.25re;
  font-weight: 800;
}
.nav-img {
  width: 10%;
  align-items: center;
}
.nav-img > img {
  width: 3rem;
  height: 2.5rem;
}
.nav-title {
  width: 90%;
  font-size: 2.25rem;
  color: #131318;
  text-decoration: none;
  margin-left: 1rem;
}
.nav-title > span {
  color: #ff5400;
}
.nav-left-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.nav-left-container a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
  font-weight: 400;
}
.nav-left-container a:first-child {
  color: #ff5400;
}
.menu-items {
  display: none;
}
.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-lists {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
}

.menu-lists.show-menu {
  max-height: 10rem;
}

.menu-lists a {
  text-decoration: none;
  color: #3a3a3a;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.menu-lists a:hover {
  background-color: #d1baba;
}

/* -------Banner styles------- */

.banner-container {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.bg-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  z-index: 1;
}
.banner-img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 0.5rem;
  z-index: 2;
}
.banner-text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-align: center;
  text-align: center;
  z-index: 3;
  border-radius: 0.5rem;
}
.banner-text .banner-title {
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.banner-text .banner-desc {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.location-select-container {
  width: 65%;
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
}

.select-time-location {
  width: 8rem;
  height: 3rem;
  border-radius: 8px;
  background: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
}
.select-time-location > label {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.select-time-location > select {
  width: 100%;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  border: none;
}
.primary-btn {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #ff5400;
}

.search-btn {
  width: auto;
  margin: auto;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  background: transparent;
}

.search-btn i {
  margin-right: 0.5rem;
}

/* ------Banner style end----- */

/* -----main-content-- */
main {
  width: 85%;
  max-width: 74rem;
  margin: 0 auto;
}
section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.popular-tour-container {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.popular-text,
.popular-img {
  flex: 1;
  height: auto;
}
.popular-desc,
.perfect-place-desc {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#p-details {
  color: #5a5a5d;
}
.popular-desc ul {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 5%;
}
.popular-desc ul li {
  margin-bottom: 0.5rem;
}

.popular-img img {
  max-width: 100%;
  max-width: 100%;
}
.read-more-btn {
  border: 0;
  outline: 0;
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  background: transparent;
}

/* -------Destination style--------------- */

.destination-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.destination-title {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.destination-img-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border-radius: 0.5rem;
}
.row1,
.row2,
.row3 {
  display: flex;
  gap: 1rem;
}
.row1 a,
.row2 a,
.row3 a {
  position: relative;
  text-decoration: none;
  border-radius: 1rem;
}
.img-text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  opacity: 1;
}

.row1 img,
.row2 img,
.row3 img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 1s ease-in-out;
}
.row1 img:hover,
.row2 img:hover,
.row3 img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

/* ---Why Choose us styles --- */
.choose1,
.choose2,
.choose3 {
  width: 100%;
  max-height: 17rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: transform 1s ease-in-out;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose3 {
  width: 50%;
  margin: 0 auto;
}
.choose1:hover,
.choose2:hover,
.choose3:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.choose-img {
  max-width: 4rem;
  max-height: 4rem;
  margin-bottom: 1.5rem;
}
.choose-text {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.choose-desc {
  font-size: 1rem;
}

/* ----Discounts styles-- */
.discount-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.discount,
.discount-offer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discount {
  position: relative;
  z-index: 1;
}
.discount-img {
  width: 100%;
  max-height: 31.24rem;
  border-radius: 1rem;
  background-color: rgba(169, 169, 169, 0.5);
}
.discount1,
.discount2,
.discount3 {
  position: absolute;
  width: 40%;
  max-height: 24rem;
  top: 4rem;
  right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.discount2 {
  right: auto;
  left: 4rem;
}
.discount-icon {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  list-style: none;
  margin-bottom: 1rem;
}
.discount-icon li span {
  margin-left: 0.5rem;
  color: #5a5a5d;
  font-weight: 400;
}
.price-text {
  color: #ff5400;
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: 800;
}
.see-packages {
  width: 20%;
  margin: 0 auto 3rem;
}
/* -----Perfect- place---- */

.perfect-place-container {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.perfect-place-details,
.perfect-place-video {
  flex: 1;
  height: auto;
}

.perfect-desc {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.perfect-place-desc h3 {
  font-size: 2rem;
}
.list-text-color {
  color: #131318;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 5%;
}
.perfect-place-video {
  height: 54vh;
  width: 100%;
}

.place-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.place-video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 1rem;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
}

/* --------Newsletter styles ---- */
.newsletter-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.newsletter-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #ff5400;
}
.newsletter-left h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.newsletter-left input {
  width: 100%;
  height: 3rem;
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
}
.newsletter-left::placeholder {
  color: rgba(19, 19, 24, 0.3);
  font-size: 1rem;
  font-weight: 400;
}
.newsletter-left div {
  width: 100%;
}
.newsletter-right {
  flex: auto;
  width: 100%;
  height: 26rem;
}
.newsletter-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.newsletter-img img {
  width: 100%;
  height: 100%;
}
.offer-pop-up {
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  z-index: 2;
  width: 50%;
  height: auto;
  padding: 1rem;
  text-align: center;
  transform: rotate(-19.628deg);
  border-radius: 1rem;
  background: #ff5400;
}
.offer-pop-up p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.offer-pop-up h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}
/* ---newsletter end------- */
/* ---------footer--------- */
footer {
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
}
.footer {
  width: 85%;
  margin: 2rem auto 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  margin-left: 2rem;
}
.footer-gap {
  margin-top: 1rem;
}
.footer-links {
  width: 20%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  color: #131318;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer hr {
  width: 80%;
  margin: 2rem auto;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.copyright {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
}

/* ----Responsive mobile styles ---------------- */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  nav {
    justify-content: space-between;
  }
  .nav-title,
  .nav-img {
    font-size: 1.3rem;
  }
  .menu-items {
    display: flex;
    font-size: 1.5rem;
    z-index: 999;
  }
  .menu-items a {
    text-align: center;
    font-size: 1.5rem;
    color: #3a3a3a;
    text-decoration: none;
  }

  .nav-left-container {
    display: none;
  }
  .banner-text .banner-title,
  .banner-text .banner-desc {
    width: 90%;
    margin: 0 auto;
  }
  .banner-text .banner-title,
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 0.85rem;
  }
  .destination-title,
  .discount-container {
    width: 100%;
    margin: 0.5rem auto;
  }
  .location-select-container {
    width: 80%;
    margin-top: 1rem;
    flex-direction: column;
  }
  .select-time-location select {
    background: none;
  }
  .popular-desc,
  .discount-img-container,
  .select-time-location,
  .primary-btn,
  .newsletter-left,
  .newslette-btn,
  .footer {
    width: 100%;
  }
  .row1 img,
  .row2 img,
  .row3 img {
    width: 100%;
    max-height: 11rem;
  }
  #read-more {
    width: 50%;
  }
  #read-more .book-btn {
    font-size: 0.8rem;
  }
  .popular-tour-container,
  .row1,
  .row2,
  .row3,
  .perfect-place-container,
  .newsletter-container {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  .bg-img {
    object-fit: cover;
    height: 60vh;
    border-radius: 0.5rem;
  }

  .choose1,
  .choose2,
  .choose3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .choose-img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .discount-img {
    width: 100%;
    height: 70vh;
  }
  .discount-icon {
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: space-between;
  }
  .discount1,
  .discount2,
  .discount3 {
    position: absolute;
    left: 1rem;
    bottom: auto;
    width: 80%;
    max-height: 100%;
    bottom: 0.5rem;
  }
  .see-packages {
    text-align: center;
  }
  .footer-links {
    width: 70%;
    margin: 1rem auto 0;
    display: flex;
    justify-content: space-between;
  }
  .footer-nav {
    font-size: 2rem;
  }
  .footer-title {
    padding: 0.5rem;
  }
  .footer-gap {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .perfect-place-desc h3,
  .offer-pop-up h3 {
    font-size: 1.5rem;
  }
  .perfect-place-video,
  .place-video {
    height: 30vh;
  }
  .offer-pop-up {
    width: 70%;
  }
}

@media screen and (min-width: 600.1px) and (max-width: 992px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
  nav {
    justify-content: space-between;
  }
  .nav-title,
  .nav-img {
    font-size: 1.5rem;
  }
  .nav-left-container a {
    width: 100%;
    font-size: 1rem;
    margin-left: 1rem;
  }
  .banner-text .banner-title,
  .banner-text .banner-desc {
    width: 90%;
    margin: 0 auto;
  }

  header {
    width: 100%;
  }
  .location-select-container,
  .search-btn,
  .dropdown {
    width: 90%;
    font-size: 1rem;
  }

  .nav-left-container,
  .nav-right-container {
    font-size: 1rem;
  }

  .menu-lists.show-menu {
    max-height: 15rem;
  }

  .select-time-location,
  .primary-btn {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .popular-tour-container {
    flex-direction: column;
  }

  .popular-desc,
  .perfect-place-desc {
    width: 100%;
  }

  .destination-title {
    width: 100%;
  }
  .banner-text .banner-title,
  .section-title,
  .read-more-btn {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .discount {
    width: 100%;
    height: auto;
  }
  .popular-img img {
    width: 100%;
    margin-top: 1rem;
  }
  .destination-img-container {
    grid-template-columns: 1fr;
  }

  .choose1,
  .choose2,
  .choose3 {
    width: 100%;
  }

  .discount1,
  .discount2,
  .discount3 {
    font-size: 1rem;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
  }
  .discount2 {
    bottom: 0;
    left: 0;
  }
  .newsletter-container {
    flex-direction: column;
  }

  .newsletter-left {
    width: 100%;
  }

  .newsletter-right {
    height: auto;
  }

  .footer-links {
    width: 100%;
  }
}
